#bar {
  background-color:#00cc33;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size:12px;
  color: #ffffff;
  text-align: center;
}

.progress-bar-container {
  padding-top: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 35%;
}

.bar-descr {
  margin-bottom: 10px;
  font-weight: 100;
}
