<div style="text-align:center"><p><font color="white"></font></p></div>

<div class="form-group row">
  <div class="col-md-6" align="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg"
         alt="heart" height="175"
         width="175">
  </div>
  <div class="col-md-6" align="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg"
         alt="heart" height="175"
         width="175">
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6" align="center">
    <p><font size="7" font="Helvetica" color="white"><b>DAN GAO</b></font></p>

  </div>
  <div class="col-md-6" align="center">
    <p><font size="7" font="Helvetica" color="white"><b>TYLER COTE</b></font></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="text-lg-left">
        <p><font size="5" font="Helvetica" color="white"><b>WHAT KIND OF MUSIC YOU LISTEN TO</b></font></p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Classical</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Hip-hop</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Pop</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Country</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">EDM</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Rock</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Indie</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Blues/Jazz</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="text-lg-left">
        <p><font size="5" font="Helvetica" color="white"><b>HOW HIPSTER IS YOUR MUSIC TASTE</b></font></p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Music popularity</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="text-lg-left">
        <p><font size="5" font="Helvetica" color="white"><b>WHAT KIND OF SOUNDS YOU LIKE</b></font></p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Danciness</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Instrumental-ness</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">High-energy</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Happy</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Fast</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" style="width:76%">76%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="text-lg-left">
        <p><font size="5" font="Helvetica" color="white"><b>TOP SONGS</b></font></p>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6" align="center">
      <p><font size="5" font="Helvetica" color="white">All I Want For Christmas Is You: Mariah
        Carey</font></p>
    </div>
    <div class="col-md-6" align="center">
      <p><font size="5" font="Helvetica" color="white">All I Want For Christmas Is You: Mariah
        Carey</font></p>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6" align="center">
      <p><font size="5" font="Helvetica" color="white">All I Want For Christmas Is You: Mariah
        Carey</font></p>
    </div>
    <div class="col-md-6" align="center">
      <p><font size="5" font="Helvetica" color="white">The Star Spangled Banner: Drake, 2 Chainz, 3
        Chainz</font></p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6" align="center">
      <p><font size="5" font="Helvetica" color="white">The Star Spangled Banner: Drake, 2 Chainz, 3
        Chainz</font></p>
    </div>
    <div class="col-md-6" align="center">
      <p><font size="5" font="Helvetica" color="white">The Star Spangled Banner: Drake, 2 Chainz, 3
        Chainz</font></p>
    </div>
  </div>
</div>


