<div style="text-align:center"><p><font color="white"></font></p></div>

<div class="form-group row">
  <div class="col-md-6" align="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg"
         alt="heart" height="175"
         width="175">
  </div>
  <div class="col-md-6" align="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg"
         alt="heart" height="175"
         width="175">
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6" align="center">
    <p><font size="7" font="Helvetica" color="white"><b>{{  data.name[0]  }}</b></font></p>
    <p><font size="7" font="Helvetica" color="white"><b>Followers: {{  data.followers[0]  }}</b></font></p>

  </div>
  <div class="col-md-6" align="center">
    <p><font size="7" font="Helvetica" color="white"><b>{{  data.name[1]  }}</b></font></p>
    <p><font size="7" font="Helvetica" color="white"><b>Followers: {{  data.followers[1]  }}</b></font></p>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="text-lg-left">
        <p><font size="6" font="Helvetica" color="white"><b>WHAT KIND OF MUSIC YOU LISTEN
          TO</b></font></p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.classical[0] + '%'}">{{
            data.classical[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Classical</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.classical[1] + '%'}">{{
            data.classical[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.hiphop[0] + '%'}">{{
            data.hiphop[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Hip-hop</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.hiphop[1] + '%'}">{{
            data.hiphop[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.pop[0] + '%'}">{{ data.pop[0]
            }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Pop</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.pop[1] + '%'}">{{ data.pop[1]
            }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.country[0] + '%'}">{{
            data.country[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Country</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.country[1] + '%'}">{{
            data.country[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.edm[0] + '%'}">{{ data.edm[0]
            }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">EDM</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.edm[1] + '%'}">{{ data.edm[1]
            }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.rock[0] + '%'}">{{
            data.rock[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Rock</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.rock[1] + '%'}">{{
            data.rock[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.indie[0] + '%'}">{{
            data.indie[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Indie</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.indie[1] + '%'}">{{
            data.indie[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.bluesjazz[0] + '%'}">{{
            data.bluesjazz[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Blues/Jazz</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.bluesjazz[1] + '%'}">{{
            data.bluesjazz[1] }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="text-lg-left">
        <p><font size="6" font="Helvetica" color="white"><b>HOW HIPSTER IS YOUR MUSIC
          TASTE</b></font></p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.musicpopularity[0] + '%'}">{{
            data.musicpopularity[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Music popularity</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.musicpopularity[1] + '%'}">{{
            data.musicpopularity[1] }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="text-lg-left">
        <p><font size="6" font="Helvetica" color="white"><b>WHAT KIND OF SOUNDS YOU LIKE</b></font>
        </p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.danciness[0] + '%'}">{{
            data.danciness[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Danciness</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.danciness[1] + '%'}">{{
            data.danciness[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.instrumentalness[0] + '%'}">
            {{ data.instrumentalness[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Instrumental-ness</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.instrumentalness[1] + '%'}">
            {{ data.instrumentalness[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.highenergy[0] + '%'}">{{
            data.highenergy[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">High-energy</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.highenergy[1] + '%'}">{{
            data.highenergy[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.happiness[0] + '%'}">{{
            data.happiness[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Happiness</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.happiness[1] + '%'}">{{
            data.happiness[1] }}%
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.fast[0] + '%'}">{{
            data.fast[0] }}%
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <p><font size="5" font="Helvetica" color="white">Fast</font></p>
        </div>
      </div>

      <div class="col-md-4 progress-bar-container">
        <p class="bar-descr" class="col-centered"><font size="5" font="Helvetica"
                                                        color="white"></font></p>
        <div class="progress">
          <div id="bar" class="progress-bar" [ngStyle]="{'width': data.fast[1] + '%'}">{{
            data.fast[1] }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">-->
  <!--<div class="col-sm-12">-->
    <!--<div class="row">-->
      <!--<div class="text-lg-left">-->
        <!--<p><font size="6" font="Helvetica" color="white"><b>TOP ARTISTS</b></font></p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">Beethoven</font></p>-->
      <!--</div>-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">Eminem</font></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row">-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">Jacob Sartorius</font></p>-->
      <!--</div>-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">Yeeeee West</font></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row">-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">SchoolBOY QQQQ</font></p>-->
      <!--</div>-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">Kendrick Lamar</font></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-sm-12">-->
    <!--<div class="row">-->
      <!--<div class="text-lg-left">-->
        <!--<p><font size="6" font="Helvetica" color="white"><b>TOP SONGS</b></font></p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">All I Want For Christmas Is You: Mariah-->
          <!--Carey</font></p>-->
      <!--</div>-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">All I Want For Christmas Is You: Mariah-->
          <!--Carey</font></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row">-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">All I Want For Christmas Is You: Mariah-->
          <!--Carey</font></p>-->
      <!--</div>-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">The Star Spangled Banner: Drake, 2 Chainz,-->
          <!--3-->
          <!--Chainz</font></p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">The Star Spangled Banner: Drake, 2 Chainz,-->
          <!--3-->
          <!--Chainz</font></p>-->
      <!--</div>-->
      <!--<div class="col-md-6" align="center">-->
        <!--<p><font size="5" font="Helvetica" color="white">The Star Spangled Banner: Drake, 2 Chainz,-->
          <!--3-->
          <!--Chainz</font></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="image">
  <img
    src="https://78.media.tumblr.com/6c11feeb853a6d0678798aac96129a00/tumblr_o6gj8lHlr01vn2zj8o1_500.png"
    alt="" style="width:100%;"/>
  <h2><font size="7" font="Helvetica" color="white"><b>COMPATIBILITY SCORE</b></font><br/>
    <font size="7" font="Helvetica" color="white"><b>{{  compatibility  }}</b></font></h2>
</div>

