<app-profile (getUserData)="getDataFromChild($event)"></app-profile>
<app-comparison [data]="data" *ngIf="data"></app-comparison>

<footer>
  <p><font size="3" font="Helvetica" color="white">Created for Hack Beanpot 2018</font></p>
  <div class="row">
    <p><font size="2" font="Helvetica" color="white">Tyler Cote: <a href="https://github.com/tylercote">Github, </a> <a href="mailto:cote.t@husky.neu.edu">cote.t@husky.neu.edu</a>.</font></p>
    <p><font size="2" font="Helvetica" color="white">Megan Larson: <a href="https://github.com/meganla">Github, </a><a href="mailto:larson.m@husky.neu.edu">larson.m@husky.neu.edu</a>.</font></p>
    <p><font size="2" font="Helvetica" color="white">Daniel Gao: <a href="https://github.com/danielgaooooo">Github, </a> <a href="mailto:gao.d@husky.neu.edu">gao.d@husky.neu.edu</a>.</font></p>
    <p><font size="2" font="Helvetica" color="white">Julian Zucker: <a href="https://github.com/julian-zucker">Github, </a> <a href="mailto:julian.zucker@gmail.com">julian.zucker@gmail.com</a>.</font></p>
  </div>
</footer>

<p *ngIf="!!user">You are logged in as: {{user.display_name}}</p>
