
<div style="text-align:center"><p> <font color="white">true luv is one click away </font> </p> </div>


<div class="form-group row">
  <div class="col-xs-2 col-centered">
    <label for="username1" color="white"><font size="5" font="Helvetica" color="white">User ID:</font></label>
    <input class="form-control" id="username1" type="text">
  </div>
  <div class="col-xs-3 col-centered">
    <label for="username2"color="white"><font size="5" font="Helvetica"color="white">User ID:</font></label>
    <input class="form-control" id="username2" type="text">
  </div>
</div>

<div class="form-group row">
    <div class="col-xs-2 col-centered">
      <label for="password1"><font size="5" font="Helvetica"color="white">Password:</font></label>
    <input class="form-control" id="password1" type="text">
  </div>
  <div class="col-xs-3 col-centered">
    <label for="password2"><font size="5" font="Helvetica"color="white">Password:</font></label>
    <input class="form-control" id="password2" type="text">
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <button class="btn btn-primary btn-success" id="singlebutton"
              href="comparison.component">
        Spot my match!</button>
    </div>
  </div>
</div>

